body {
	position: relative;
	font-family: 'Coda', cursive;
	background-color:rgba(107, 107, 207, 0.781);
}


header{
	background-color:rgba(107, 107, 207, 0.781);
	color:rgb(15, 11, 12);
	margin:0px;
	padding:10px;
	overflow:hidden;
}
.jumbotron{
	color:rgb(8, 7, 7);
	text-align: center;
	border: rgb(52, 52, 53);
	border-radius: 50px;
	font-size: 20px;
	background: rgb(107, 149, 240);
	position: relative;
	margin: 0 auto;
	top:150px;
	font-family: 'Coda', cursive;
	
}
.btn{
	border:grey, 1px;
	background:rgb(50, 91, 204);
	border-radius: 7px;
	color: rgb(14, 10, 10);
	text-decoration: none;
	

}

header img{
	width:150px;
	height:100px;
	float:left;
	border-radius: 30px;
	margin-right:10px;
	

}

header h1{
	padding:0px;
	margin: 0 0 0 5px;
	font-size:2.2em;
}


header h2{
	padding:0px;
	margin:0;
	font-size:1.2em;
}

.nav ul{
	list-style-type:none;
	background: rgb(107, 149, 240);
	margin:0;
	overflow:hidden;
}

.nav li{
	float: left;
}

.nav li a{
	text-decoration:none;
	padding:10px 25px;
	display:block;
	color:rgb(12, 11, 12);
	
}

.nav li a:hover{
	background-color:rgb(192, 235, 255);
	border-radius: 20px;
}

.nav li a.active{
	background-color:rgb(88, 149, 230);
	border-radius: 20px;
}

.content{
	color: darkorchid;
	text-align: center;
	font: caption;
	font-family: Verdana, Geneva, Tahoma, sans-serif
}

.content h2{
	font-family: 'Coda', cursive;
	margin: 5 px 0 0;
	font-size:1.8em;
	color:rgb(8, 7, 7);
}

.content img{
	float:right;
	margin:5px;
	width:40%;
	

}





#marija{
	width: 288px;
	height: 260px;
}



.card{
	
	margin: 0 auto;
	height: 500px;
	width: 500px;
    background: rgb(217, 231, 231);
}

.ft{
	background: rgb(163, 176, 233);
	color: white;
	position: relative;
	top:400px;
}

